/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fuente - Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

/* Global */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f3f3f3f3;
}
:root {
    --titulo: calc(1rem + 3vw);
    --titulo2: calc(1rem + 2.4vw);
    --titulo3: calc(1rem + 2vw);
    --titulo4: calc(1rem + 1.5vw);
    --titulo5: calc(1rem + 1.3vw);
    --parrafo: calc(1rem + 1vw);
    --parrafo1: calc(1rem + 0.5vw);
}
h1{font-size: var(--titulo); font-weight: 700;}
h2{font-size: var(--titulo2); font-weight: 700;}
h3{font-size: var(--titulo3); font-weight: 500;}
h4{font-size: var(--titulo4); font-weight: 500;}
h5{font-size: var(--titulo5); font-weight: 500;}
p{font-size: var(--parrafo); font-weight: 300;}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.btn {
    @apply bg-green-500 text-white font-bold py-2 px-4 border-b-4 border-green-700 rounded;
}
.btn:hover {
    @apply border-green-500 bg-green-400;
}
.repos-list{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4vw;
    grid-row-gap: 2vw;
    li {
        border: 1px solid rgba($color: #aaaaaa, $alpha: 0.2);
        border-radius: 10px;
        height: 10vw;
        padding: 1vw 1vw;
    }
}
.contenedorCursos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1vw;
    li {
        border: 1px solid rgba($color: #aaaaaa, $alpha: 0.2);
        border-radius: 10px;
        height: 10vw;
        padding: 1vw 1vw;
        font-size: var(--parrafo1);
        display: flex;
        flex-direction: column;
        align-self: center;
        span {
            font-weight: 700;
        }
    }
}
.contenedorMedium{
    height: 15vw !important;
    position: relative;
    a{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}